@font-face {
    font-family: larke;
    src: url(fonts/LarkeNeueRegular.ttf);
}
@font-face {
    font-family: bold;
    src: url(fonts/LarkeNeueBold.ttf);
}
@font-face {
    font-family: thin;
    src: url(fonts/LarkeNeueThin.ttf);
}
@font-face {
    font-family: myriad;
    src: url(fonts/MyriadProRegular.ttf);
}
html{
	height:100%;
	width:100%;
}
body{
	z-index:0;
	#overlay{
		overflow: hidden;
		position:absolute;
		transition:opacity 1s;
		top:0;
		left:0;
		opacity:0;
		width:100%;
		height:565%;
		z-index:-1;
		background-color:rgba(50,50,50,0.7);
		#banner{
			h2{
				font-family:bold;
			}
			z-index:-1;
			font-family:thin;
			color:#666666;
			position:relative;
			transform:rotateX(90deg);
			will-change: transform;
			transition:transform 0.5s .5s;
			left:10%;
			top:2%;
			width:80%;
			background-color:white;
			opacity:1;
			border-radius:20px;
			form{
				display:block;
				height:20%;
				width:80%;
				margin:auto;
				input{
					display:block;
					font-family:thin;
					height:60px;
					font-size:30px;
					height:20%;
					width:100%;
					margin:auto;
					margin-bottom:2%;

				}
				textarea{
					display:block;
					font-family:thin;
					height:300px;
					font-size:20px;
					width:100%;
					margin:auto;
					margin-top:2%;
					margin-bottom:2%;
				}
				button{
					display:block;
					margin-top:2%;
					margin-bottom:5%;
					padding:0;
					
					width:20%;
					font-size:20px;
					padding-top:10px;
					height:40px;
					float:right;
					font-family:bold;
				}
				button:hover{
					cursor:pointer;
				}
			}
			#aims{
				width:100%;
				position:relative;
				padding-top:8%;
				h1{

					font-family:bold;
					font-size:5vh;
					width:80%;
					margin:auto;
					
				}	
				h6{

					font-family:thin;
					width:80%;
					margin:auto;
					font-size:4vh;
				}
			}
			#docs{
				width:100%;
				position:relative;
				#doc1{
					width:100%;
					text-align:center;
				}
				#doc2{
					width:50%;
					float:left;
					text-align:center;
				}
				#doc3{
					width:50%;
					float:right;
					text-align:center;
				}
				#doc4{
					width:33%;
					float:left;
					text-align:center;
				}
				#doc5{
					width:34%;
					text-align:center;
					float:left;
				}
				#doc6{
					width:33%;
					float:right;
					text-align:center;
				}
				#doc7{
					width:100%;
					float:left;
					text-align:center;
				}
				padding-bottom:3%;
			}
			#contact{
				position:relative;
				left:10%;
				margin:0;
				font-family:bold;
				padding-top:10%;
				padding-bottom:1%;	
				font-size:5vh;	
			}	
			#bannerlogo{
				position:relative;
				padding-top:15%;
				margin-bottom:10%;
				display:block;
				width:5%;
				left:47.5%;
			}
			#x{
				position:absolute;
				top:2%;
				right:3%;
				height:4%;
			}
			#x:hover{
				cursor:pointer;
			}


		}

	}
	position:relative;
	top:0;
	background-color:white;
	margin:0;
	width:100%;
	height:100%;

	#header{
		position:relative;
		top:0;
		width:100%;
		height:15%;

		#headerlogo{
			height:60%;
			position:absolute;
			top:20%;
			left:5%;
		}
		#bnp{
			font-family:bold;
			border:0;
     		padding:0;
     		outline:0;
    		background:transparent;
    		position:absolute;
    		top:40%;
    		right:20%;
    		a{
				font-size:2.5vh;
    			color:#666666;
			}

		}
		#about{
			font-family:bold;

			border:1;
     		padding:0;
     		outline:0;
     		height:25%;
     		width:7%;
    		position:absolute;
    		top:40%;
    		right:10%;
    		color:#666666;
    		a{
				font-size:2.5vh;
    			color:#666666;
			}
			a:hover{
				color:#888888;
				cursor:pointer;
			}
    		
		}
	}
	#topscreen{
		background-size:100% 85%;
		position:relative;
		#background{
			vertical-align: top;
   			width: 100%;
		}
		#backslider{
			z-index:0;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			overflow:hidden;
			#bslide1{
				position:absolute;
				top:0;
				left:0;
				height:100%;
				width:100%;
				opacity:1;
				transform: translate(0,0);
				will-change: transform;
				transition:transform 2s,opacity 2s;
				#slidetext1{
					position:absolute;
					bottom:0;
					left:0;
					width:100%;
				}
				
			}
			#bslide2{
				position:absolute;
				top:0;
				left:100%;
				height:100%;
				width:100%;
				opacity:0;
				transform: translate(0,0);
				will-change: transform;
				transition:transform 2s,opacity 2s;
				#slidetext2{
					position:absolute;
					bottom:0;
					width:100%;
				}
			}
			#bslide3{
				position:absolute;
				top:0;
				left:200%;
				height:100%;
				width:100%;
				opacity:0;
				transform: translate(0,0);
				will-change: transform;
				transition:transform 2s, opacity 2s;
				#slidetext3{
					position:absolute;
					bottom:0;
					width:100%;
				}
			}

		}
		#phone{
			z-index:2;
			overflow:hidden;
			position:absolute;
			bottom:0%;
			left:42.7%;
			width:18%;
			height:68%;
			#screen1{
				position:absolute;
				bottom:0;
				left:0;
				width:100%;
				transform: translate(0,0);
				will-change: transform;
				transition:transform 2s;
			}
			#screen2{
				position:absolute;
				bottom:0;
				left:100%;
				width:100%;
				transform: translateZ(0);
				transform: translate(0,0);
				transition:transform 2s;
			}
			#screen3{
				position:absolute;
				bottom:0;
				left:200%;
				width:100%;
				transform: translateZ(0);
				will-change: transform;
				transition:transform 2s;
			}

		}


	}
	#appstores{
		position:relative;
		z-index:3;
		top:0%;
		padding-bottom:10%;
		margin-top: 2%;
		width:100%;
		height:20%;
		color:#666666;
		#coming{
			position:absolute;
			left:37%;
			top:0;
			font-family:bold;
			font-size: 6vh;
			color:#666666;
		}
		#pink{
			width:100%;
			height:300%;
		}
		#buttons{
			position:absolute;
			height:50%;
			bottom:5%;
			left:25%;
			width:50%;
			#google{
				width:57%;
				position:absolute;
				left:53%;
			}
			#apple{
				width:40%;
				position:absolute;
				
				left:5%;
			}
		}


	}
	#slider{
		position:relative;
		z-index:4;
		top:0%;
		left:0%;
		color:white;
		width:100%;
		height:100%;
		overflow:hidden;
		font-family:larke;
		.pslide{
			position:absolute;
			width:100%;
		}
		#left{
			position:absolute;
			top:45%;
			left:0%;
			height:10%;
			width:10%;
			z-index:1;
			opacity:.25;
			img{
				height:100%;
				width:30%;
			}
			img:hover{
				cursor:pointer;
				opacity:35%;
			}
		}
		#right{
			position:absolute;
			top:45%;
			right:0%;
			height:10%;
			width:10%;
			z-index:1;
			opacity:.25;
			img{
				height:100%;
				width:30%;
				position:absolute;
				right:0%;
			}
			img:hover{
				cursor:pointer;
				opacity:35%;
			}
		}
		#slider1{
			height:100%;
			width:100%;
			position:absolute;
			left:0%;
			top:0%;
			opacity:1;
			transform: translate(0,0);
			will-change: transform;
			transition: transform 1.5s;
				
		}
		#slider2{
			opacity:1;
			height:100%;
			width:100%;
			position:absolute;
			left:100%;
			top:0;
			transform: translate(0,0);
			will-change: transform;
			transition: transform 1.5s;
		}
		#slider3{
			opacity:1;
			height:100%;
			width:100%;
			position:absolute;
			left:200%;
			top:0;
			transform: translate(-300%,0);
			will-change: transform;
			transition: transform 1.5s;
		}


	}
	#practices{
		position:relative;
		top:0%;
		width:100%;
		padding-top:2%;
		padding-bottom:2%;
		#pracimage{
			width:60%;
			position:relative;
			left:7.5%;
		}
	}
	#accounts{
		position:relative;
		z-index:0;
		top:0%;
		width:100%;

		#acimage{
			width:97%;
			position:relative;
			left:3%;
		}
	}
	#awards{
		position:relative;
		top:0%;
		width:100%;
		height:50%;
		#awardbanner{
			height:45%;
			max-width:100%;
			display:block;
			margin:auto;
			padding-top:5%;

		}
	}
	#history{
		position:relative;
		top:0%;
		width:100%;
		color:white;
		font-family:larke;
		#pent{
			width:95%;
			display:block;
			margin:auto;
		}
		#bar{
			position:absolute;
			top:20%;
			left:10%;
			height:40%;
			width:.3%;
		}
		h1{
			font-size:7vh;
			position:absolute;
			top:20%;
			left:15%;

		}
		h3{
			position:absolute;
			top:35%;
			left:15%;
			font-size:3vh;

		}
		p{
			position:absolute;
			top:25%;
			left:40%;
			width:55%;
			font-size:150%;
			line-height: 1.5;
		}
	}
	#footer{
		position:relative;
		top:0%;
		left:0;
		width:100%;
		height:110%;
		#interested{
			position:absolute;
			top:30%;
			left:17.5%;
			width:20%;
			height:20%;
			h3{
				font-family:bold;
				font-size:3.5vh;
				text-align:center;
				color:#666666;
			}
		}
		#pinkbutton{
			position:absolute;
			top:45%;
			left:17.5%;
			width:20%;
			height:8%;
			#hellobutton{
				position:absolute;
				top:0;
				left:0;
				width:100%;
			}
			#hellobutton:hover{
				cursor:pointer;
				opacity:.9;
			}
		}
		
			opacity:90%;
		
		#footerlogo{
			position:absolute;
			bottom:5%;
			left:47.5%;
			width:5%;

		}
		h2{
			font-family:bold;
			font-size:4.5vh;
			position:absolute;
			right:24%;
			top:40%;
			color:#666666;
		}
		#linkedin{
			position:absolute;
			right:12%;
			top:38%;
			width:10%;
		}

	}
}

	
