@font-face {
  font-family: larke;
  src: url(fonts/LarkeNeueRegular.ttf); }
html {
  height: 100%;
  width: 100%; }

body {
  position: relative;
  top: 0;
  background-color: white;
  margin: 0;
  width: 100%;
  height: 100%; }
  body #header {
    width: 100%;
    height: 10%; }
    body #header #bnp {
      font-family: larke;
      border: 0;
      padding: 0;
      outline: 0;
      background: transparent;
      position: absolute;
      top: 3%;
      right: 20%;
      font-size: 2.5vh; }
    body #header #about {
      font-family: larke;
      border: 0;
      padding: 0;
      outline: 0;
      background: transparent;
      position: absolute;
      top: 3%;
      right: 10%;
      font-size: 2.5vh; }
  body #topscreen {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 65%; }
    body #topscreen #logo {
      position: absolute;
      left: 5%;
      top: 10%;
      height: 13%; }
    body #topscreen #left {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 70%;
      width: 40%; }
    body #topscreen #phone {
      position: absolute;
      left: 40%;
      bottom: 0;
      height: 70%;
      width: 20%; }
    body #topscreen #right {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 70%;
      width: 40%; }
  body #appstores {
    position: relative;
    margin-top: 3%;
    width: 100%;
    height: 20%; }
    body #appstores #buttons {
      position: absolute;
      height: 50%;
      top: 25%;
      left: 30%;
      width: 40%; }
      body #appstores #buttons #google {
        width: 49%;
        position: absolute;
        left: 0; }
      body #appstores #buttons #apple {
        width: 49%;
        position: absolute;
        right: 0; }
  body #slider {
    position: relative;
    top: 0;
    left: 0%;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: larke; }
    body #slider #slider1 {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0%;
      top: 0%;
      background-image: url("img/bluerect.png");
      transform: translate(0, 0);
      transition: transform 2s; }
      body #slider #slider1 h2 {
        position: absolute;
        top: 5%;
        left: 38%;
        font-size: 5vh;
        display: block; }
      body #slider #slider1 h3 {
        position: absolute;
        top: 12%;
        left: 45%;
        text-align: center;
        font-size: 4vh; }
      body #slider #slider1 h1 {
        position: absolute;
        left: 45%;
        top: 25%;
        font-size: 7vh; }
      body #slider #slider1 p {
        position: absolute;
        top: 40%;
        left: 55%;
        font-size: 3vh; }
    body #slider #slider2 {
      border-style: solid;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 100%;
      top: 0;
      background-image: url("img/bluerect.png");
      transform: translate(0, 0);
      transition: transform 2s; }
      body #slider #slider2 h2 {
        position: absolute;
        top: 5%;
        left: 40%;
        font-size: 5vh;
        display: block; }
      body #slider #slider2 h3 {
        position: absolute;
        top: 12%;
        left: 45%;
        text-align: center;
        font-size: 4vh; }
      body #slider #slider2 h1 {
        position: absolute;
        left: 45%;
        top: 25%;
        font-size: 7vh; }
      body #slider #slider2 p {
        position: absolute;
        top: 45%;
        left: 55%;
        font-size: 3vh; }
    body #slider #slider3 {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 200%;
      top: 0;
      background-image: url("img/bluerect.png");
      transform: translate(0, 0);
      transition: transform 2s; }
      body #slider #slider3 h2 {
        position: absolute;
        top: 5%;
        left: 40%;
        font-size: 5vh;
        display: block; }
      body #slider #slider3 h3 {
        position: absolute;
        top: 12%;
        left: 45%;
        text-align: center;
        font-size: 4vh; }
      body #slider #slider3 h1 {
        position: absolute;
        left: 45%;
        top: 25%;
        font-size: 7vh; }
      body #slider #slider3 p {
        position: absolute;
        top: 45%;
        left: 52%;
        font-size: 3vh; }
  body #accounts {
    width: 100%;
    height: 100%; }
    body #accounts #acimage {
      width: 100%; }
  body #awards {
    position: relative;
    width: 100%;
    height: 25%; }
    body #awards h2 {
      position: absolute;
      padding-top: 2.5%;
      left: 20%;
      font-family: larke;
      font-size: 6vh; }
    body #awards #dht {
      position: absolute;
      padding-top: 3%;
      left: 45%;
      width: 15%; }
    body #awards #ida {
      position: absolute;
      padding-top: 1%;
      left: 70%;
      width: 15%; }
  body #history {
    position: relative;
    top: 0;
    left: 0;
    border-style: solid;
    width: 100%;
    height: 75%;
    color: white;
    font-family: larke; }
    body #history #pent {
      width: 95%;
      display: block;
      margin: auto; }
    body #history #bar {
      position: absolute;
      top: 20%;
      left: 10%;
      height: 40%;
      width: .3%; }
    body #history h1 {
      font-size: 7vh;
      position: absolute;
      top: 20%;
      left: 15%; }
    body #history h3 {
      position: absolute;
      top: 35%;
      left: 15%;
      font-size: 3vh; }
    body #history p {
      position: absolute;
      top: 25%;
      left: 40%;
      font-size: 3vh; }
  body #footer {
    width: 100%;
    height: 50%; }

/*# sourceMappingURL=bnp.css.map */
